.simpleMessage_box {
    padding: 10px;
}

.simpleMessage__wrapper {
    padding: 1rem 3rem;
    position: relative;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    outline: 1px solid rgba(204,204,204,0.42);
    outline-offset: -5px;
    font-size: 19px;
    font-weight: 300;
    color: #000000;
}