.description-with-logo__section {
    padding: 50px 0;
}

.description-with-logo__title {
    text-align: center;
    position: relative;
}

.description-with-logo__paragraph {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.description-with-logo__logosWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: #dcd5ce;
    text-align: center;
}

.logo__wrapper {
    width: 100px;
    margin: 20px 34px;
}

.logo-image {
    max-width: 100%;
}

.logo-link {
    display: flex;
}

.logo-link.reverse {
    flex-direction: column-reverse;
}

/* a:link {
    text-decoration: none;
    color: #575757;
}

a:visited {
    color: #222222;
} */

.logo__wrapper > a:link {
    text-decoration: none;
    color: #575757;
}

.logo__wrapper > a:visited {
    text-decoration: none;
    color: #575757;
}